<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Feastival Showdown</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/confirm-delete.js"></script>
</head>
<body>
    <h1>Feastival Showdown DB</h1>
    <div class="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li class="active"><a href="/attendees">Attendees</a></li>
            <li><a href="/tickets">Tickets</a></li>
            <li><a href="/ticket-types">Ticket Types</a></li>
            <li><a href="/discounts">Discounts</a></li>
            <li><a href="/ticket-sales">Ticket Sales</a></li>
            <li><a href="/competitors">Competitors</a></li>
            <li><a href="/teams">Teams</a></li>
            <li><a href="/competitor-registrations">Competitor Registrations</a></li>
            <li><a href="/dishes">Dishes</a></li>
            <li><a href="/courses">Courses</a></li>
            <li><a href="/ratings">Ratings</a></li>
            <li><a href="/event-years">Event Years</a></li>
        </ul>
    </div>
    <br>
    <h3>Browse Attendees</h3>
    <div>
        {{!-- Create a table --}}
        <table id="attendee-table">
            {{!-- Header section --}}
            <thead>
                <tr>
                    <th><a href="/attendees/new-attendee" class="floating-button">New</a></th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th></th>
                </tr>
            </thead>

            {{!-- Body section --}}
            <tbody>

                {{!-- For each row, print the Name, Email, Phone in order --}}
                {{#each attendee}}
                <tr>
                    <td><a onclick="editAttendee({{this.ID}})" href="/attendees/edit-attendee?id={{this.ID}}">Edit</a></td>
                    <td>{{this.Name}}</td>
                    <td>{{this.Email}}</td>
                    <td>{{this.Phone}}</td>
                    <td><button onclick="confirmAndDelete('{{this.Name}}', {{this.ID}}, '/attendees/delete-attendee-ajax')"   >Delete</button></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    {{!-- Hidden modal used as a custom pop up display--}}
    <div id="confirmationModal" class="modal">
        <div class="modal-content">
            <p id="confirmationMessage">Are you sure you want to delete this item?</p>
            <button id="confirmButton">Confirm</button>
            <button id="cancelButton">Cancel</button>
        </div>
    </div>
</body>
</html>