<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Feastival Showdown</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script type="text/javascript" src="/js/edit-ticket-sale.js"></script>
</head>
<body>
    <h1>Feastival Showdown DB</h1>
    <div class="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/attendees">Attendees</a></li>
            <li><a href="/tickets">Tickets</a></li>
            <li><a href="/ticket-types">Ticket Types</a></li>
            <li><a href="/discounts">Discounts</a></li>
            <li class="active"><a href="/ticket-sales">Ticket Sales</a></li>
            <li><a href="/competitors">Competitors</a></li>
            <li><a href="/teams">Teams</a></li>
            <li><a href="/competitor-registrations">Competitor Registrations</a></li>
            <li><a href="/dishes">Dishes</a></li>
            <li><a href="/courses">Courses</a></li>
            <li><a href="/ratings">Ratings</a></li>
            <li><a href="/event-years">Event Years</a></li>
        </ul>
    </div>
    <h3>Edit Ticket Sale</h3>
    <form id="edit-ticket-sale-form-ajax">
        <!--Hidden select for id-->
        <input type="hidden" name="id" id="id" value="{{selectedTicket.ticket_sale_id}}"> 

        <!-- Dropdown for Attendee -->
        <label for="attendee">Attendee:</label>
        <select id="attendee" name="attendee">
            {{#each attendee}}
            <option value="{{this.ID}}" {{this.selected}}>{{this.Name}}</option>
            {{/each}}
        </select><br><br>

        <!-- Dropdown for Ticket Type -->
        <label for="ticket">Ticket:</label>
        <select id="ticket" name="ticket">
            {{#each ticketType}}
            <option value="{{this.ID}}" {{this.selected}}>{{this.Ticket}} </option>
            {{/each}}
        </select><br><br>

        <!-- Input for Discount-->
        <lable for="discount">Discount:</lable>
        <select id="discount" name="discount">
            {{#each discount}}
            <option value="{{this.ID}}" {{this.selected}}>{{this.Discount}}</option>
            {{/each}}
        </select><br><br>

    <button type="submit">Update Ticket Sale</button>
    </form>
</body>
</html>