<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Feastival Showdown</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script type="text/javascript" src="/js/new-competitor-registration.js"></script>
</head>
<body>
    <h1>Feastival Showdown DB</h1>
    <div class="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/attendees">Attendees</a></li>
            <li><a href="/tickets">Tickets</a></li>
            <li><a href="/ticket-types">Ticket Types</a></li>
            <li><a href="/discounts">Discounts</a></li>
            <li><a href="/ticket-sales">Ticket Sales</a></li>
            <li><a href="/competitors">Competitors</a></li>
            <li><a href="/teams">Teams</a></li>
            <li class="active"><a href="/competitor-registrations">Competitor Registrations</a></li>
            <li><a href="/dishes">Dishes</a></li>
            <li><a href="/courses">Courses</a></li>
            <li><a href="/ratings">Ratings</a></li>
            <li><a href="/event-years">Event Years</a></li>
        </ul>
    </div>
    <h3>Add Competitor Registration:</h3>
    <form id="new-competitor-registration-form-ajax">
        <!-- Prepopulated with valid competitors to reduce errors -->
        <label for="competitor">Competitor:</label>
        <select id="competitor" name="competitor">
            {{#each competitor}}
            <option value="{{this.ID}}">{{this.Name}}</option>
            {{/each}}
        </select><br><br>

        <!-- Prepopulated with valid teams to reduce errors -->
        <label for="team">Team:</label>
        <select id="team" name="team">
            {{#each team}}
            <option value="{{this.ID}}">{{this.Team}}</option>
            {{/each}}
        </select><br><br>

        <!-- Prepopulated with valid years to reduce errors -->
        <label for="year">Year:</label>
        <select id="year" name="year">
            {{#each year}}
            <option value="{{this.ID}}">{{this.Year}}</option>
            {{/each}}
        </select><br><br>

        <button type="submit">Add Competitor Registration</button>
    </form>
</body>
</html>