<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Feastival Showdown</title>
    <script type="text/javascript" src="/js/new-ticket-sale.js"></script>
</head>
<body>
    <h1>Feastival Showdown DB</h1>
    <div class="navbar">
        <ul>
            <li class="reload"><a href="/db/reload-db"><i class="fa-solid fa-repeat"></i></a></li>
            <li><a href="/">Home</a></li>
            <li><a href="/attendees">Attendees</a></li>
            <li><a href="/tickets">Tickets</a></li>
            <li><a href="/ticket-types">Ticket Types</a></li>
            <li><a href="/discounts">Discounts</a></li>
            <li class="active"><a href="/ticket-sales">Ticket Sales</a></li>
            <li><a href="/competitors">Competitors</a></li>
            <li><a href="/teams">Teams</a></li>
            <li><a href="/competitor-registrations">Competitor Registrations</a></li>
            <li><a href="/dishes">Dishes</a></li>
            <li><a href="/courses">Courses</a></li>
            <li><a href="/ratings">Ratings</a></li>
            <li><a href="/event-years">Event Years</a></li>
        </ul>
    </div>
    <h3>Add Ticket Sale:</h3>
    <form id="new-ticket-sale-form-ajax">
        <!-- Prepopulated with valid attendees to reduce errors -->
        <label for="attendee">Attendee:</label>
        <select id="attendee" name="attendee">
            {{#each attendee}}
            <option value="{{this.ID}}">{{this.Name}}</option>
            {{/each}}
        </select><br><br>

        <!-- Prepopulated with tickets -->
        <label for="ticket">Ticket:</label>
        <select id="ticket" name="ticket">
            {{#each ticket}}
            <option value="{{this.ID}}">{{this.Ticket}} {{this.Year}}</option>
            {{/each}}
        </select><br><br>

        <!-- Prepopulated with discounts -->
        <label for="discount">Discount:</label>
        <select id="discount" name="discount">
            <option value="" selected>None</option>
            {{#each discount}}
            <option value="{{this.ID}}">{{this.Discount}}</option>
            {{/each}}
        </select><br><br>

        {{!-- <!-- Prepopulated with event years -->
        <label for="year">Year:</label>
        <select id="year" name="year">
            <option value="" selected>None</option>
            {{#each year}}
            <option value="{{this.ID}}">{{this.Year}}</option>
            {{/each}}
        </select><br><br> --}}

        <button type="submit">Add Ticket Sale</button>
    </form>
</body>
</html>