<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Feastival Showdown</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/confirm-delete.js"></script>
</head>
<body>
    <h1>Feastival Showdown DB</h1>
    <div class="navbar">
        <ul>
            <li class="reload"><a href="/db/reload-db"><i class="fa-solid fa-repeat"></i></a></li>
            <li><a href="/">Home</a></li>
            <li><a href="/attendees">Attendees</a></li>
            <li><a href="/tickets">Tickets</a></li>
            <li><a href="/ticket-types">Ticket Types</a></li>
            <li><a href="/discounts">Discounts</a></li>
            <li><a href="/ticket-sales">Ticket Sales</a></li>
            <li><a href="/competitors">Competitors</a></li>
            <li><a href="/teams">Teams</a></li>
            <li><a href="/competitor-registrations">Competitor Registrations</a></li>
            <li><a href="/dishes">Dishes</a></li>
            <li><a href="/courses">Courses</a></li>
            <li class="active"><a href="/ratings">Ratings</a></li>
            <li><a href="/event-years">Event Years</a></li>
        </ul>
    </div>
    <br>
    <h3>Browse Ratings</h3>
    <div>
        <table>
            <thead>
                <tr>
                    <th><a href="/ratings/new-rating" class="floating-button">New</a></th>
                    <th>Dish</th>
                    <th>Rating</th>
                    <th>Comments</th>
                    <th>Attendee</th>
                    <th>Year</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{#each rating}}
                <tr>
                    <td><a onclick="editRating({{this.ID}})" href="/ratings/edit-rating?id={{this.ID}}">Edit</a></td>
                    <td>{{this.Dish}}</td>
                    <td>{{this.Rating}}</td>
                    <td>{{this.Comments}}</td>
                    <td>{{this.Attendee}}</td>
                    <td>{{this.Year}}</td>
                    <td><button onclick="confirmAndDelete('rating for {{this.Dish}}', {{this.ID}}, '/ratings/delete-rating-ajax')" >Delete</button></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    {{!-- Hidden modal used as a custom pop up display--}}
    <div id="confirmationModal" class="modal">
        <div class="modal-content">
            <p id="confirmationMessage">Are you sure you want to delete this item?</p>
            <button id="confirmButton">Confirm</button>
            <button id="cancelButton">Cancel</button>
        </div>
    </div>
</body>
</html>